# DATABASE
# (These defaults match what Docker-Compose will build. You generally don't need to touch these if you use docker-compose unless you want higher security!)
PGUSER=finpayadmin
PGPASSWORD=finpay_secure_db_pass_2024
PGDATABASE=finpaydb

# SECURITY
JWT_SECRET=YOUR_SUPER_SECRET_PRODUCTION_KEY

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=sidahmed
CLOUDINARY_API_KEY=999459828282875
CLOUDINARY_API_SECRET=3hsm5iBrHn_Z7_oUTzrzpdBD5QU

# CORS / ROUTING
FRONTEND_URL=https://finpay.today
